* {
    box-sizing: border-box;
    --white: #fff;
    --night: #0C1445;
    --royalpurple: #5C54A4;
    --gold: #FFD700;
    --mudblue: #82B3BA;
    --lightblue: #CCFFFF;
    background-color: var(--night);
}

body {
    font-family: Lucida;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--night);
    color: var(--white);
}

h1{
    /* A unique purple box to label my name */
    margin-top: 30px;
    margin-left: 50px;
    background-color: #4800AD;
    width: 40%;
    height: 15%;
    border: 5px var(--white);
    padding: 25px;
    /* Font size and color of my name */
    font-size: 170%;
    color: var(--white);
}

/* The slogan text */
h2{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 400%;
    font-weight: bold;
    color: var(--gold);
    text-align: center;
}

/* The 4 headers with mudblue border */
h3{
    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 5%;
    font-size: 150%;
    color: var(--white);
    background-color: var(--mudblue);
}

/* 4 white texts that serves as navigator, located on top right corner */
.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: var(--white); /* Color of the 4 nav bar texts*/
}

.nav {
    display: flex;
    flex-wrap: wrap; /* When minimizing the width, it will break to new line*/
    list-style: none;
}

.nav a {
    padding: 8px 12px;
    color: inherit;
}

/* Color box for list in contact me */
ol li{
    background: var(--royalpurple);
}
.box-header,
.portforlio-list-box{
    display: flex;
    flex-wrap: wrap;
}
/* Blue box for 4 headers*/
.box-header {
    background-color: var(--mudblue);
    border-radius: 15px;
    width: 200px;
    height: 50px;
    border: 10px;
    margin-right: auto;
    margin-bottom: 0%; 
}

/* Profile picture*/
#my-avatar{
    position: absolute;
    top: 95px;
    right: 150px;
    width: 18%;
    height: 26%;
}

/* The width, height and front sizes for the purple gradient boxes */
.about-me,
.project,
.resume, 
.contact {
    background-image: linear-gradient(var(--night),var(--royalpurple));
    color: var(--lightblue);
    width: 96%;
    height: 50%;
    padding: 4%;
    font-size: 120%;
}

#portforlio-image-one,
#portforlio-image-two,
#portforlio-image-three,
#portforlio-image-four{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    left: 5%;
}
#portforlio-image-one{
    top: 103%;
}
#portforlio-image-two{
    top: 150%;
}
#portforlio-image-three{
    top: 195%;
}
#portforlio-image-four{
    top: 245%;
}

/* Outerbox of the portfolio list */
.portforlio-list-box{
    background-image: linear-gradient(var(--night),var(--royalpurple));
    color: var(--lightblue);
    width: 96%;
}

.portforlio-list-box > div {
    background-color: #5C54A4;
    width: 48%;
    margin: 10px;
    padding: 20px;
    font-size: 160%;
}